

:host{
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    background-color: var(--c-black);
}

.stat{
    display:flex;
}

.general-stats{
    display: flex;
    max-width: 100%;
}

.favor-stats{
    display: flex;
    width: 50%;
}

.stats-tech{
    display: flex;
}
.cybertech{
   margin-left: 10%;
}

input{
    color:inherit;
    background-color: inherit;
    border: none;
    font: inherit;
    field-sizing: content;
    appearance: textfield;
}

section{
    height: 100%;
    border: thick solid green;
}

[ngListbox] {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

[ngOption] {

  cursor: pointer;
  padding: 0.3rem 1rem;
  border: 1px solid var(--hot-pink);
}

[ngOption]:focus {
    background-color: green;
    color: black;
}

[ngOption]:hover {
  background-color: pink;
}