:host{
    width:100%;
    height:100%;
    background-color:var(--c-purpleblack);
    display:grid;
    grid-template-columns: max-content 1fr;
    overflow: hidden;
    
}

.nav-item{
    width: 100%;
    background-color: var(--c-midtones);
    border: none;
    text-align: left;
    :hover{
        opacity: 0.9;
    }
    text-transform: uppercase;
}

.sidenav-close{
  //border-radius: 0;
  border: none;
  background-color: inherit;
  color: var(--text-color);
  display: flex;
  width:32px;

}


.sidenav-content {
  display: flex;
  height: 100%;
      :hover{
        background-color:var(--c-midtones)
    }
}

.drawer-container{
    position: sticky;
    width: fit-content;
    min-width: 5%;
    height: 100%;
    background-color:var(--c-purple);
}
.drawer-sidenav{
    border-radius: 0;
    background-color:var(--c-midtones);
    display:block;
}