:host{
    width:100%;
    height:100%;
    background-color:blue;
    display:grid;
    grid-template-columns: max-content 1fr;
    //overflow: hidden;
}

.nav-item{
    width: 100%;
    //background-color: purple;
    border: none;
    text-align: left;
    :hover{
        opacity: 0.9;
    }
    text-transform: uppercase;
}

.sidenav-content {
  display: flex;
  height: 100%;
  //background-color: pink;
}

.drawer-container{
    position: sticky;
    width: fit-content;
    min-width: 5%;
    height: 100%;
    //background-color: green;
}
.drawer-sidenav{
    border-radius: 0;
    //background-color: red;
    display:block;
}