html,body{
  width: 100%;
  max-height: 100dvh;
  margin: 0;
  overflow: hidden;
  font-family: 'MSW98';
}

button, 
input, 
select, 
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'MSW98';
  src: url('./assets/fonts/MSW98UI-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MSW98';
  src: url('./assets/fonts/MSW98UI-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}